<footer class="footer">
  <div class="container">
      <nav class="pull-left">
          <ul>
      <li>
        <a href="#">
          Link1
        </a>
      </li>
      <li>
        <a href="#">
           Link2
        </a>
      </li>
      <li>
        <a href="#">
           Link3
        </a>
      </li>
      <li>
        <a href="#">
          Link4
        </a>
      </li>
          </ul>
      </nav>
      <div class="copyright pull-right">
          &copy; 2017, made with <i class="material-icons">favorite</i> by the City of Sacramento
      </div>
  </div>
</footer>
