<div class="main main-raised">
  <div class="container">
    <div class="section text-center section-landing">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title">We are the Mayor's Office for Innovation & Entrepreneurship.</h2>
          <h5 class="description">On June 21, 2016, the Sacramento City Council created new programs to create jobs, diversify the economy, and make Sacramento a hub of innovation, technology, and entrepreneurship. Leveraging the City's Innovation & Growth Fund, the Council created a startup in City Hall - the Mayor's Office for Innovation & Entrepreneurship (MOFIE). MOFIE helps advance and implement innovative best learnings from around the country by working hand-in-hand with startups, the ecosystem, and City staff.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">flight_takeoff</i>
              </div>
              <h4 class="info-title">RAILS Grant Program</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              <a href="/rails" class="btn btn-primary btn-raised">Learn More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">color_lens</i>
              </div>
              <h4 class="info-title">Creative Economy Pilot Project</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              <a href="/creative-economy" class="btn btn-primary btn-raised">Learn More</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">directions_car</i>
              </div>
              <h4 class="info-title">Autonomous Vehicles</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
              <a href="/autonomous-vehicles" class="btn btn-primary btn-raised">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section landing-section">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center title">Stay Updated</h2>
          <h4 class="text-center description">Sign up to receive updates from us.</h4>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group label-floating">
                  <label class="control-label">Email Address</label> <input class="form-control" type="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <button class="btn btn-primary btn-raised btn-block">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
